.main-butt{
    position: absolute;
    top: 10px;
    right: 15px;
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    color: black;
    font-family: cursive;
    font-size: 16px;
    z-index: 3;
    opacity: 0.4;
    transition: opacity, .5s;
}
.main-butt:hover{
    opacity: 1;
}

.main-window{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: blueviolet;
    color: black;
    font-family: cursive;
    font-size: 16px;
    z-index: 2;
    opacity: 0.4;
    transition: opacity, .5s;
}
.main-window:hover{
    opacity: 1;
}

.main-window:hover{
    opacity: 1;
}

.text-window{
    position: relative;
    top: 75px;
    margin: auto;
    height: 80%;
    width: 270px;
    background-color: white;
    color: black;
    font-family: cursive;
    font-size: 16px;
    z-index: 2;
    transition: opacity, .5s;
    overflow-y: auto;
}
.text-window:hover{
    opacity: 1;
}

.chat-input{
    position: absolute;
    bottom: 10px;
    left: 15px;
    margin: auto;
    height: 44px;
    width: 200px;
    background-color: white;
    color: black;
    font-family: cursive;
    font-size: 16px;
    z-index: 2;
    transition: opacity, .5s;
}

.chat-butt{
    text-align: center;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 15px;
    margin: auto;
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    font-family: cursive;
    font-size: 16px;
    z-index: 2;
    transition: opacity, .5s;
}

.message{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    word-break: break-word;
    user-select: text;
    font-size: 16px;
    font-weight: bold;
    font-family: cursive;
}
.msg-text{
    font-weight: normal;
}

.name-input{
    position: absolute;
    top: 10px;
    left: 15px;
    margin: auto;
    height: 44px;
    width: 200px;
    background-color: white;
    color: black;
    font-family: cursive;
    font-size: 16px;
    z-index: 2;
    transition: opacity, .5s;
}